######################################################################
# KAT – Moonraker Update Manager Example
#
# Copy this section into moonraker.conf if you want Moonraker/Mainsail
# to show KAT as an updateable component.
#
# Expected install layout:
#
# ~/printer_data/config/
# ├─ printer.cfg
# ├─ klipper_KAT/          <- git repo
# └─ KAT -> klipper_KAT/KAT
#
# printer.cfg should include:
#
# [include KAT/core_features.cfg]
#
# After editing moonraker.conf, restart Moonraker.
######################################################################


[update_manager klipper_KAT]
type: git_repo
path: ~/printer_data/config/klipper_KAT
origin: https://github.com/HjortCreations/klipper_KAT.git
primary_branch: main
managed_services: klipper


######################################################################
# Notes
#
# - The update manager updates the git repo at:
#   ~/printer_data/config/klipper_KAT
#
# - The KAT symlink should point to:
#   ~/printer_data/config/klipper_KAT/KAT
#
# - If this repository is private, GitHub authentication may be required
#   before Moonraker can update it.
#
# - If you enable advanced features, gcode_shell_command must be installed.
######################################################################
