###################################################################
# This includes the Klipper Automation Toolkit into your printer
###################################################################
[include KAT]

[filament_switch_sensor filament_runout]
switch_pin: ^PG11
pause_on_runout: False
runout_gcode:
    FILAMENT_RUNOUT

[filament_switch_sensor filament_clog]
switch_pin: ^PG15
pause_on_runout: False
runout_gcode:
    FILAMENT_CLOG
