######################################################################
# KAT ABOUT / STATUS
#
# Provides a small startup/status message and a manual KAT_ABOUT command.
######################################################################


######################################################################
# KAT_ABOUT
#
# Prints KAT version and project information to the console.
######################################################################

[gcode_macro KAT_ABOUT]
description: Show KAT version and project information
gcode:
    {% set kat = printer["gcode_macro KAT"] %}

    RESPOND PREFIX="KAT" MSG="KAT {kat.kat_version} active"
    RESPOND PREFIX="KAT" MSG="Klipper Automation Toolkit"
    RESPOND PREFIX="KAT" MSG="Developed, sponsored, and maintained by {kat.kat_sponsor}"
    RESPOND PREFIX="KAT" MSG="Repository: {kat.kat_repo_url}"


######################################################################
# KAT STARTUP BANNER
#
# Shows a short message shortly after Klipper is ready.
######################################################################

[delayed_gcode _KAT_STARTUP_BANNER]
initial_duration: 2.0
gcode:
    {% set kat = printer["gcode_macro KAT"] %}

    {% if kat.kat_startup_banner %}
        KAT_ABOUT
    {% endif %}
