######################################################################
# KAT ADVANCED FEATURES
#
# This file enables KAT features that require extra Klipper extensions.
#
# Required extension:
# - gcode_shell_command
#
# Important:
# If Klipper fails to load this file with an error about
# [gcode_shell_command ...], then gcode_shell_command is not installed.
#
# Install/reference:
# https://github.com/th33xitus/kiauh/blob/master/docs/gcode_shell_command.md
#
# Notes:
# - Core KAT can run without this file if advanced features are not used.
# - Resonance graph generation requires this file.
# - Future shell-based KAT tools should be included from here.
######################################################################


######################################################################
# HOW TO ENABLE ADVANCED FEATURES
#
# Recommended full KAT include in printer.cfg:
#
# [include KAT/advanced_features.cfg]
#
# Manual advanced-only include:
#
# [include KAT/advanced_features.cfg]
#
# Use the manual include only if core_features.cfg does not already
# include advanced_features.cfg.
######################################################################


######################################################################
# GCODE SHELL COMMAND TEST
#
# This test confirms that RUN_SHELL_COMMAND works.
#
# Run from the console:
#
# KAT_TEST_SHELL_COMMAND
#
# Expected result:
# - Console should show: KAT shell command support is working
######################################################################

[gcode_shell_command kat_shell_command_test]
command: echo "KAT shell command support is working"
timeout: 10.
verbose: True


[gcode_macro KAT_TEST_SHELL_COMMAND]
description: Test that gcode_shell_command is working
gcode:
    RESPOND PREFIX="KAT" MSG="Testing gcode_shell_command support"
    RUN_SHELL_COMMAND CMD=kat_shell_command_test
    RESPOND PREFIX="KAT" MSG="If you see the shell output above, gcode_shell_command is working"


######################################################################
# ADVANCED FEATURE INCLUDES
#
# resonance_tools.cfg contains:
# - KAT_TEST_RESONANCES_X
# - KAT_TEST_RESONANCES_Y
# - KAT_TEST_RESONANCES_Z
# - KAT_GENERATE_BELT_TENSION_GRAPH
#
# These features require:
# - gcode_shell_command
# - [resonance_tester] in printer.cfg
# - accelerometer configuration in printer.cfg
######################################################################

[include KAT/resonance_tools.cfg]
