######################################################################
# KAT ADVANCED FEATURES
#
# This file enables KAT features that require extra Klipper extensions.
#
# Required extension:
# - gcode_shell_command
#
# If Klipper fails to load this file with an error about
# [gcode_shell_command ...], install gcode_shell_command first.
#
# Install/reference:
# https://github.com/th33xitus/kiauh/blob/master/docs/gcode_shell_command.md
#
# Notes:
# - Core KAT can run without this file.
# - Resonance graph generation requires this file.
# - Future shell-based KAT tools should be included from here.
######################################################################


######################################################################
# GCODE SHELL COMMAND TEST
#
# This test confirms that RUN_SHELL_COMMAND works.
######################################################################

[gcode_shell_command kat_shell_command_test]
command: echo "KAT shell command support is working"
timeout: 10.
verbose: True


[gcode_macro KAT_TEST_SHELL_COMMAND]
description: Test that gcode_shell_command is working
gcode:
    RESPOND PREFIX="KAT" MSG="Testing gcode_shell_command support"
    RUN_SHELL_COMMAND CMD=kat_shell_command_test
    RESPOND PREFIX="KAT" MSG="If you see the shell output above, gcode_shell_command is working"


######################################################################
# ADVANCED FEATURE INCLUDES
######################################################################

[include KAT/resonance_tools.cfg]
